body 
{
    background-color:#222;    
    color: #fff;
    margin: 0;
    font-family: sans-serif;
}

/* Cabecera y Menú */
#b1 
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 50px;
    padding-left: 20px;
}

#logo 
{
    width: 140px;
}

.menu 
{
    display: flex;
    list-style: none;
    margin-left: 50px;
}

.menu li 
{
    position: relative;
}

.menu a 
{
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
}

.menu a:hover 
{
    background-color: red;
}

.submenu 
{
    display: none;
    position: absolute;
    background: #222;
    list-style: none;
    top: 100%;
    left: 0;
    min-width: 160px;
    padding: 0;
    margin: 0;
}

.Lista:hover .submenu 
{
    display: block;
}

.contenido
{
    max-width: 1200px;
    margin: 0 ; 
    padding:   40px;
    font-size: 18px; 
    line-height: 1.6; 
}


.foto:hover
{
    transform: scale(1.03); 

}

h2 
{
    color: #e10600; 
    border-bottom: 1px solid #333; 
    padding-bottom: 5px;
}

.foto
{
    width:15%;
}

#ferrari {
     width:20%;
    float: right; 
    position: relative;
    left: 340px;
    top: -40px;
    transition: transform 0.3s ease;
}

#mclaren {
    width:15%;
    float: right; 
    position: relative;
    left: 320px;
    top: -70px;
    transition: transform 0.3s ease;
}

#redbull {
     width:20%;
    float: right; 
    position: relative;
    left: 340px;
    top: -100px;
    transition: transform 0.3s ease;
}

#mercedes {
     width:10%;
    float: right; 
    position: relative;
    left: 520px;
    top: -60px;
    transition: transform 0.3s ease;
}

#audi {
    float: right; 
    position: relative;
    left: 320px;
    top: -70px;
    transition: transform 0.3s ease;
}

#cadillac {
    float: right; 
    position: relative;
    left: 320px;
    top: -50px;
    transition: transform 0.3s ease;
}

#aston {
     
    float: right; 
    position: relative;
    left: 320px;
    top: -60px;
    transition: transform 0.3s ease;
}

#alpine {
     
    float: right; 
    position: relative;
    left: 320px;
    top: -80px;
    transition: transform 0.3s ease;
}

#williams {
     width: 10%;
    float: right; 
    position: relative;
    left: 290px;
    top: -60px;
    transition: transform 0.3s ease;
}

#vcarb {
     
    float: right; 
    position: relative;
    left: 320px;
    top: -100px;
    transition: transform 0.3s ease;
}

#haas {
     
    float: right; 
    position: relative;
    left: 500px;
    top: -40px;
    transition: transform 0.3s ease;
}

/* ANIMACIÓN COCHE PASANDO */
#coche-animado {
    position: fixed;
    bottom: -20px;
    left: -150px; 
    width: 120px; 
    z-index: 999;
    animation: cochePasando 8s linear infinite; 
}

@keyframes cochePasando {
     from { margin-left: 0px; }
    to { margin-left:2000PX ; }
}