body {
    background-color:#222;   
    color: #fff;
    margin: 0;
    font-family: sans-serif;
}

/* Cabecera y Menú */
#b1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
    margin-bottom: 50px;
    padding-left: 20px;
}

#logo {
    width: 140px;
}

.menu {
    display: flex;
    list-style: none;
    margin-left: 50px;
}

.menu li {
    position: relative;
}

.menu a {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover {
    background-color: red;
}

.submenu {
    display: none;
    position: absolute;
    background: #222;
    list-style: none;
    top: 100%;
    left: 0;
    min-width: 160px;
    padding: 0;
    margin: 0;
}

.Lista:hover .submenu {
    display: block;
}

/* Animación del Carrusel */
.uno { 
    margin: auto;
    width: 800px; 
    height: 600px;
    background-color: black; 
    overflow: hidden; 
    margin-bottom: 50px;
} 

.dos { 
    width: 4000px; 
    height: 600px; 
    display: flex;
    margin: auto;
} 

.tres {   
    animation: banner 20s linear infinite;      
} 

@keyframes banner { 
    from { margin-left: 0px; } 
    to { margin-left: -4000px; }
} 

/* TAMAÑOS */
@media  (max-width: 1300px) 
{
    body
     {
        
        width: 90%; 
    
    }   
}  

@media  (max-width: 600px) 
{

    #logo
     {
        position: relative;       
     }
    

    #b1 
    {
        display: block; 
        height: auto;
        text-align: center;
        padding-bottom: 10px;
    }

    .menu
    {
        position: relative;
        left:-60px;
        display: block;
    }

    .menu li
    {
        display: block; 
    }

    .seccion-flex, #temp, #equipos, #pilotos
    {
        display: block;
        margin: 30px ;
        text-align: center;
    }

    .foto, #nv, #eqs, #fa 
    {
        display: block;
        width: 80%; 
        margin: 10px auto;
    }
    .uno, .dos, .tres
    {
        display: none;
    }
    
    
}  






/* Introducción */
#intro {
    text-align: center;
    margin: 40px auto;
    width: 80%;
}

h2 
{
    color: #e10600; 
    border-bottom: 1px solid #333; 
    padding-bottom: 5px;
}



.seccion-flex {
    display: flex;
    align-items: center; 
    margin: 60px ; 
}

.texto-contenido {
    width:65%;
    text-align: left;
    font-size: 18px; 
    line-height: 1.6; 
}

.enlace-destacado {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.enlace-destacado:hover {
    text-decoration: underline;
}

/* fotos */
.foto {
    position: relative;
    left:100px;
    width: 37%; 
    max-width: 500px; 
    border-radius: 8px; 
    transition: transform 0.3s ease;
}

.foto:hover {
    transform: scale(1.05); 
}